@import '../../source/sass/common/config'
@import '../../source/sass/common/card'

.top
  &--active
    +card

.top__timerset
  margin-bottom: $padding * 3

  &:last-child
    margin-bottom: 0

.top__split
  display: flex
  flex-flow: row

  > div
    width: 50%
