@import '../common/config'

body
  background: $color-bg
  color: $color-text
  font-family: $font-family
  line-height: $line-height
  padding: 0 $padding*2
  -webkit-font-smoothing: antialiased

  a
    color: $color-1

@import '../common/button'
@import '../common/nav'
@import '../common/modifiers'
@import '../../../partials/header/header'
@import '../../../partials/footer/footer'
